
     <div id="templatemo_header">
        <div id="site_title"> 
 <!--  		<%= image_tag("logo.png", :alt => "LOGO", :class => "round") %> <span>Копирайтинг для агробизнеса</span>   -->
<p>  Зеленая Долина  </p>
<div id="site_title_tel"> +7(499) 123-12-12  <br> info@site.ru </div>
	</div>
        <!-- end of site_title -->
    </div><!-- end of header -->

<div id="templatemo_menu">
        <ul>
		<li><%= link_to "Главная", root_path %></li> 
		<li><%= link_to "О Компании",about_path %></li>
		<li><%= link_to " Клиенты", clients_path %></li>

		<li><%= link_to "Портфoлио", portfolios_path %></li>

	<li><%= link_to "Контакты", contact_path %></li>

        </ul>
</div> <!-- end of menu -->


